{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Vacations {% endblock %}</h1>
    <div style="margin: auto">
        <p style="font-size: 24px"> {{ vacations[0].name }}: </p>
        {% for vacation in vacations %}
        <div style="padding: 10px; background-color: #EEE; margin: 20px">
            <p style="font-size: 24px"> From {{ vacation.start_date }} to {{ vacation.end_date }}</p>
        </div>
        {% endfor %}
    </div>

    <form name="buttons" action="/vacationEmail/process" method="POST" onsubmit="onSubmit()">
        <input type="submit" name="accept" id="accept" value="Accept" onclick="acceptFunction()">
        <input type="submit" name="reject" id="reject" value="Reject" onclick="rejectFunction()">
    </form>
{% endblock %}

function acceptFunction() { document.buttons.accept.value  = "Accepted"; }
function rejectFunction() { document.buttons.accept.value  = "Rejected"; }
