{% extends 'base.html' %}

{% block style %}
    table, th, td {
        border: 1px solid white;
        border-collapse: collapse;
    }
    th, td {
        background-color: #D4D4D4;
    }
{% endblock %}

{% block content %}
    <h3> Create New project </h3>
    <form action="/createProject" method="POST">
        <label for="project_name"> Project Name: </label><input type="text" id="project_name" name="project_name">
    </form>
    <br>
    <br>
    <h3> Existing projects </h3>
    <br>
    {{ project_table | safe }}
    <br>
    <table>
        <tr><th colspan="2">Legend</th></tr>
        <tr><td>Working Day</td><td style="background-color: #A0D0A0">&nbsp;&nbsp;&nbsp;&nbsp;</td></tr>
        <tr><td>Weekend</td><td style="background-color: #A0A0A0">&nbsp;&nbsp;&nbsp;&nbsp;</td></tr>
        <tr><td>Vacation/Holiday</td><td style="background-color: #A0A0D0">&nbsp;&nbsp;&nbsp;&nbsp;</td></tr>
    </table>

{% endblock %}

